*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Navigation bar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: Helvetica;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(68, 216, 209);
    padding: 8px 25px;  
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 1 5 10px white;
}

/* Home */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 670px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    top: 0; right : 0;
    background: url("milkyway.jpg") no-repeat center center/cover;
    height: 730px; width: 100%; z-index: -1; opacity: .9;
}
.main{
    position: absolute;
    top: 30%;
    left: 5%;
}
.text1{
    font-size: 27px;
    color: white;
}
.text2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
    color: rgb(68, 216, 209);;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px white solid;
    color: white;
    outline: none;
    transition: .5s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.headings{
    font-family: Helvetica; font-size: 3rem; text-align: center; margin: 20px 10px;
}

/* About me */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 50px;
}
#pict{
    display: flex;
}
#pict img{
    width: 350px;
    height: 380px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: helvetica;
}
#intro p{
    font-size: 1.3em;
}

/* Project */
#project{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: start;
    padding: 10px;
    border-radius: 50px;
    background: linear-gradient(to top, rgb(2, 115, 245) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .5s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 50px rgb(2, 115, 245);
}
.box p{
    font-size: 1.3em;
}

/* contact */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}
.email{
    display: list-item;
    list-style-position: inside;
    text-align: center;
    font-family: helvetica;
}
